doctype html
html
    head
        meta(charset='utf-8')
        title sirudduk
    body
        h1 
            a(href='/topic') Server side JavaScript
        ul
            each topic in topics
                li
                    a(href='/topic/'+topic)= topic
        article 
            h2= title
            p= description
        p
            a(href='/topic/new') new
        p

        