html(lang='KOR')
    head
        meta(charset='utf-8')
        link(rel='stylesheet' href='/Resources/initialization/reset.css')
        link(rel='stylesheet' href='/Resources/common.css')
        link(rel='stylesheet' href='/css/main.css')
        link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet")
    body
        div(class='header-wrap')
            header
                h1(id='logo') sirudduk work
                ul(class='menu-wrap')
                    li(class='menu')
                        a(href='#') home
                    li(class='menu')
                        a(href='#') about
                    li(class='menu')
                        a(href='#') github
                    li(class='menu')
                        a(href='#') blog
        div(class='main-wrap')
            main
                div(class='left-box') hi! this webpage is... 
                div(class='right-box')
            
                
                