html(lang='KOR')
    head
        meta(charset='utf-8')
        link(rel='stylesheet' href='/Resources/initialization/reset.css')
        link(rel='stylesheet' href='/Resources/common.css')
        link(rel='stylesheet' href='/css/main.css')
        link(href="https://fonts.googleapis.com/css?family=Nunito:300,400,700" rel="stylesheet")
    body
        header
            div.header-wrap
                h1#logo sirudduk work
                ul.menu-wrap
                    li.menu
                        a(href='#') home
                    li.menu
                        a(href='#') about
                    li.menu
                        a(href='#') github
                    li.menu
                        a(href='#') blog
        main
            div.main-wrap.clearfix
                h2.main-label portfolio
                div.content-box.small.todoapp
                    div.content-box-comment 
                    a(href='#')
                div.content-box.small.tetris
                div.content-box.large.pocopay
                div.content-box.midium.arbuzz
                div.content-box.midium.gallery
        footer
            p 2016. 
                span.sirudduk sirudduk
                <br/> all rights reserved.
                <br/> All design cannnot be copied without permission.
                
                
            
                
                