doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Tetris
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/Resources/common.css')
    link(rel='stylesheet', href='/Resources/effects/button-effects.css')
  body
    .container.clearfix
      #wrap
        .menu
            button#start_btn.shadow.grow-skew.button start / restart
            button#right_btn.shadow.button.grow-spin right turn
            button#left_btn.shadow.button.grow-spin-ccw left turn
        .score_wrap
          span#score_text
          span#score
        canvas#tetris(width='240', height='480')
    hr
    .joystick_wrap
        button#up.joystick ▲
        br
        button#left.joystick ◀
        button#right.joystick ▶
        br
        button#down.joystick ▼

    script(src='js/script.js')