* {
    /* font 300 400 700 */
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}


a {
    text-decoration: none;
    color: inherit;
}


.header-wrap {
    padding: 30px 15%;
    border-bottom: 1px solid #DDDDDD;
}

header {
    min-width: 1020px;
    margin: 0 auto;
}

#logo {
    display: inline;
    font-size: 2rem;
    color: #2F2F2F;
}


.menu-wrap {
    float: right;
    margin-top: 6px;
}

.menu {
    float: left;
    margin-left: 3rem;
    font-size: 1.2rem;
    color: black;

    
}

.menu:hover {
    color: darkgray;
    transition: all 0.4s ease;
}

.github {
    background: url(../images/github.png);
}

.blog {
    background: url(../images/tistory.png)
}

.menu-icon {
    text-indent: -9999px;
    display: block;
    width: 30px;
    height: 30px;
    background-size: cover;
    position: relative;
    top: -5px;
}

/* main layout */

.main-wrap {
    margin: 50px 100px;
    font-size: 3rem;
    
}

.main-label {
    font-weight: 300;
    text-align: center;
    margin-bottom: 50px;
    font-size: 1.5rem;
    letter-spacing: 0.5px;
    color: gray;
}

/* content images url */

.todoapp {
    background: url(../images/todoapp.png);
}
.tetris {
    background: url(../images/tetris.png);
}
.pocopay {
    background: url(../images/pocopay.png);
}
.arbuzz {
    background: url(../images/arbuzz.png);
}
.gallery {
    background: url(../images/gallery.png);
}


.content-box {
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .5s ease-in-out;
    position: relative;
    -webkit-box-shadow: 0px 1px 10px 0px rgba(122,122,122,1);
    -moz-box-shadow: 0px 1px 10px 0px rgba(122,122,122,1);
    box-shadow: 0px 1px 10px 0px rgba(122,122,122,1);
    border-radius: 10px;
    margin: 20px 20px;
    float: left;
    height: 0;
    width: 100%;
    padding-bottom: 31%;
    overflow: hidden;
}

.content-box-comment {
    background: black;
    color: white;
    font-size: 1.5rem;
    height: 100%;
    width: 100%;
    opacity: 0;
    border-radius: 8px;
    padding: 50px 40px 0 40px;
    transition: opacity .35s ease-in-out;
    display: block;
    position: absolute;
    letter-spacing: 1px;
    font-weight: 300;
    line-height: 2.2rem;
}

.content-box:hover .content-box-comment {
    opacity: 0.7;
    -webkit-box-shadow: 0px 1px 20px 0px rgba(122,122,122,1);
    -moz-box-shadow: 0px 1px 20px 0px rgba(122,122,122,1);
    box-shadow: 0px 1px 20px 0px rgba(122,122,122,1);
}






/* box size */

.large {
    width: 50%;
}

.small {
    width: 20%;
}

.midium {
    width: 46%;
}



.content-box:hover {
    transform: scale(1.03);
}



/* footer */

footer {
	text-align: center;
	font-size: 0.8rem;
	color: hsla(200, 30%, 70%, 1);
    margin-bottom: 50px;
    line-height: 1rem;
}
.sirudduk {
    color:  #B1B1BF;
}



