* {
    font-family: 'Roboto',sans-serif;
    box-sizing: border-box;
}


a {
    text-decoration: none;
    color: inherit;
}


.header-wrap {
    width: 70vw;
    min-width: 1020px;
    margin: 0 auto;
}

header {
    margin: 30px 0;
}

#logo {
    display: inline;
    font-size: 2rem;
}


.menu-wrap {
    float: right;
    margin-top: 6px;
}

.menu {
    float: left;
    margin-left: 5rem;
    font-size: 1.2rem;
}

/* main layout */

.main-wrap {
    border-top: 1px solid #777;
    font-size: 3rem;
}

.left-box {
    float: left;
    background: url(../images/background.jpg);
    height: 90vh;
    width: 50%;
    
}

.right-box {
    float: left;
    background: url(../images/background2.jpg);
    height: 90vh;
    width: 50%;
}