
body {
    margin: 0 auto;
}

/* main layout */


.main-wrap {
    margin: 50px 100px;
    font-size: 3rem;
}

.main-label {
    font-weight: 300;
    text-align: center;
    margin-bottom: 50px;
    font-size: 1.5rem;
    letter-spacing: 0.5px;
    color: gray;
}

/* content images url */

.todoapp {
    background: url(../images/todoapp.png);
}
.tetris {
    background: url(../images/tetris.png);
}
.pocopay {
    background: url(../images/pocopay.png);
}
.arbuzz {
    background: url(../images/arbuzz.png);
}
.gallery {
    background: url(../images/gallery.png);
}


.content-box {
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .5s ease-in-out;
    position: relative;
    -webkit-box-shadow: 0px 1px 10px 0px rgba(122,122,122,1);
    -moz-box-shadow: 0px 1px 10px 0px rgba(122,122,122,1);
    box-shadow: 0px 1px 10px 0px rgba(122,122,122,1);
    border-radius: 10px;
    margin: 20px 20px;
    float: left;
    height: 0;
    width: 100%;
    padding-bottom: 31%;
    overflow: hidden;
}

.content-box-comment {
    background: black;
    color: white;
    height: 100%;
    width: 100%;
    opacity: 0;
    border-radius: 8px;
    transition: opacity .35s ease-in-out;
    display: block;
    position: absolute;
    letter-spacing: 1px;
    font-weight: 300;
    line-height: 2.2rem;
}

.small p{
    font-size: 1.1rem;
    padding: 99% 10% 0 10%;
}
.large p{
    font-size: 1.3rem;
    padding: 40% 5% 0 5%;
}
.medium p {
    font-size: 1.3rem;
    padding: 40% 5% 0 5%;
}

.content-box:hover .content-box-comment {
    opacity: 0.7;
    -webkit-box-shadow: 0px 1px 20px 0px rgba(122,122,122,1);
    -moz-box-shadow: 0px 1px 20px 0px rgba(122,122,122,1);
    box-shadow: 0px 1px 20px 0px rgba(122,122,122,1);
}






/* box size */

.large {
    width: 50%;
}

.small {
    width: 20%;
}

.medium {
    width: 46%;
}



.content-box:hover {
    transform: scale(1.03);
}



